:root {
	--gui-color-background:			rgb(0,0,0);
	--gui-color-home:				rgb(0,0,0);
	--gui-color-titlebar:			rgb(0,0,0);
	--gui-color-shadow:				rgba(30,30,30,0.5);
	--gui-color-button-hover:		rgba(255,255,255,0.2);
	--gui-color-button-text:		rgb(255,255,255);
	--gui-color-title-text:			rgb(255,255,255);
	--gui-color-title-new:			rgba(255,255,255,0.3);
	--gui-color-menu-background:	rgb(0,0,0);
	--gui-color-menu-border:		rgba(0,0,0,1);
	--gui-color-menu-option:		rgb(255,255,255);
	--gui-color-menu-separator:		rgba(255,255,255,0.2);
	--gui-color-menu-hover:			rgba(80,80,85,1);
	--gui-color-text-default:		rgb(255,255,255);
	--gui-color-tab-border:			rgb(100,100,100);
	--gui-color-checkbox:			rgb(100,100,100);
	--gui-color-checkbox-unchecked:	rgb(20,20,20);
	--gui-color-window-border:		rgb(35,35,35);
	
	--gui-size-titlebar:			30px;
	--gui-size-shadow:				10px;
	--gui-size-button-width:		45px;
	--gui-size-button-text:			15px;
	--gui-size-title:				14px;
	--gui-size-menu-text:			14px;
	--gui-size-margin:				10px;
	--gui-size-menu-separator:		5px;
	--gui-size-menu-pad:			3px;
	--gui-size-menu-pad-left:		6px;
	--gui-size-option:				40px;
	--gui-size-home-button:			16px;
	--gui-size-tab:					25px;
	--gui-size-tab-text:			15px;
	--gui-size-tab-pad:				8px;
	--gui-size-checkbox:			20px;
	--gui-size-markdown:			0px;
	--gui-size-markdown-length:		20px;
	--gui-size-checkbox-corner:		3px;
	--gui-size-text:				16px;
	
	--gui-transition-time:			0.1s;
	--gui-transition-time-long:		0.5s;
	--gui-button-font:				Segoe UI Light;
	--gui-button-home-font:			Segoe UI Light;
	--gui-menu-font:				Segoe UI;
	--gui-title-margin:				7px;
	--gui-text-font:				Segoe UI Light;
	--gui-home-opacity:				0;
	--gui-home-width:				100px;
	--gui-home-left:				calc( var(--gui-home-width) - ( var(--gui-home-width) * 2 ) );
	--gui-home-gog:					8px;
}

body {
	background-color: var(--gui-color-background);
	overflow: hidden;
	margin: 0px;
}

.panel {
	background-color: var(--gui-color-titlebar);
	position: absolute;
	box-shadow: 0px 0px var(--gui-size-shadow) var(--gui-color-shadow);
	transition-duration: var(--gui-transition-time-long);
}

.panel.home {
	background-color: var(--gui-color-home);
	width: var(--gui-home-width);
	height: calc( 100% - var(--gui-size-titlebar) );
	top: var(--gui-size-titlebar);
	left: var(--gui-home-left);
	opacity: var(--gui-home-opacity);
	z-index: 4;
}

.panel.titlebar {
	background-image: var(--gui-color-titlebar);
	width: 100%;
	height: var(--gui-size-titlebar);
	top: 0px;
	left: 0px;
	z-index: 5;
	-webkit-user-select: none;
	-webkit-app-region: drag;
}

.panel.markdown {
	background-color: var(--gui-color-menu-background);
	width: calc( 100% - ( var(--gui-home-left) + var(--gui-home-width) ) );
	height: var(--gui-size-markdown);
	top: calc( var(--gui-size-titlebar) + var(--gui-size-tab) );
	left: calc( var(--gui-home-left) + var(--gui-home-width) );
	transition-duration: var(--gui-transition-time-long);
	z-index: 2;
	opacity: 0;
}

.markbutton {
	background-color: rgba(0,0,0,0);
	width: var(--gui-size-markdown);
	height: var(--gui-size-markdown);
	border: none;
	color: var(--gui-color-button-text);
	transition-duration: var(--gui-transition-time);
	font-family: var(--gui-button-home-font);
	font-size: calc( var(--gui-size-markdown) / 2 );
}

.markbutton:hover {
	background-color: var(--gui-color-button-hover);
}

.markbutton:focus {
	outline: none;
}

.home_button {
	width: 100%;
	height: var(--gui-size-option);
	background-color: rgba(0,0,0,0);
	font-family: var(--gui-button-home-font);
	font-size: var(--gui-size-home-button);
	color: var(--gui-color-button-text);
	border: none;
	transition-duration: var(--gui-transition-time);
}

.home_button:hover {
	background-color: var(--gui-color-button-hover);
}

.home_button:focus {
	outline: none;
}

.home_gog {
	opacity: 0.3;
	width: 10px;
	bottom: calc( var(--gui-size-option) / 3 );
	left: var(--gui-home-gog);
	position: absolute;
}

.textarea {
	background-color: var(--gui-color-background);
	position: absolute;
	width: calc( 100% - ( var(--gui-home-left) + var(--gui-home-width) ) );
	top: calc( var(--gui-size-titlebar) + ( var(--gui-size-markdown) + var(--gui-size-tab) ) );
	left: calc( var(--gui-home-left) + var(--gui-home-width) );
	height: calc( 100% - ( var(--gui-size-titlebar) + ( var(--gui-size-markdown) + var(--gui-size-tab) ) ) );
	transition-duration: var(--gui-transition-time-long);
}

.writing_area {
	color: var(--gui-color-text-default);
	font-family: var(--gui-text-font);
	font-size: var(--gui-size-text);
	left: var(--gui-size-margin);
	top: var(--gui-size-margin);
	width: calc( 100% - ( var(--gui-size-margin) * 2) );
	height: calc( 100% - ( var(--gui-size-margin) * 2) );
	overflow-x: hidden;
	position: absolute;
	transition-duration: var(--gui-transition-time-long);
}

.writing_area:focus {
	outline: none;
}

.title {
	top: var(--gui-title-margin);
	left: calc( var(--gui-title-margin) + var(--gui-size-button-width) );
	font-size: var(--gui-size-title);
	font-family: var(--gui-button-font);
	color: var(--gui-color-title-text);
	position: absolute;
}

.button {
	background-color: rgba(0,0,0,0);
	position: absolute;
	color: var(--gui-color-button-text);
	top: 0px;
	font-size: var(--gui-size-button-text);
	font-family: var(--gui-button-font);
	width: var(--gui-size-button-width);
	height: var(--gui-size-titlebar);
	border: none;
	-webkit-app-region: no-drag;
	transition-duration: var(--gui-transition-time);
}

.button.close {
	left: calc( 100% - var(--gui-size-button-width) );
}

.button.fs {
	left: calc( 100% - ( var(--gui-size-button-width) * 2 ) );
}

.button.min {
	left: calc( 100% - ( var(--gui-size-button-width) * 3 ) );
}

.button:hover {
	background-color: var(--gui-color-button-hover);
}

.button:focus {
	outline: none;
}

.button.close:hover {
	background-color: rgb(255,0,0);
}

.menu_window {
	position: absolute;
	background-color: var(--gui-color-menu-background);
	top: 0px;
	left: 0px;
	border: 1px solid var(--gui-color-menu-border);
	box-shadow: 0px 0px var(--gui-size-shadow) var(--gui-color-shadow);
	z-index: 15;
	-webkit-app-region: no-drag;
}

.menu_option {
	background-color: rgba(0,0,0,0);
	border: none;
	display: flex;
	width: 100%;
	flex-direction: column;
	color: var(--gui-color-menu-option);
	transition-duration: var(--gui-transition-time);
	font-family: var(--gui-menu-font);
	font-size: var(--gui-size-menu-text);
	border: none;
	padding: var(--gui-size-menu-pad);
	padding-left: var(--gui-size-menu-pad-left);
	white-space: nowrap;
	padding-right: var(--gui-size-menu-pad-left);
}

.menu_separator {
	background-color: rgba(0,0,0,0);
	border: none;
	display: flex;
	width: 100%;
	height: var(--gui-size-menu-separator);
	flex-direction: column;
	color: var(--gui-color-menu-separator);
	font-family: var(--gui-menu-font);
	font-size: var(--gui-size-menu-separator);
	border: none;
	padding: var(--gui-size-menu-pad);
	padding-left: var(--gui-size-menu-pad-left);
	padding-right: var(--gui-size-menu-pad-left);
}

.menu_option.wide {
	padding-right: calc( var(--gui-size-menu-pad-left) * 2);
	padding-left: calc( var(--gui-size-menu-pad-left) * 2);
}

.menu_option:hover {
	background-color: var(--gui-color-menu-hover);
}

.menu_option:focus {
	outline: none;
}

.menu_separator:focus {
	outline: none;
}

.menu_arrow {
	opacity: 0.5;
	width: 10px;
	position: absolute;
}

.tabs {
	background-color: var(--gui-color-menu-background);
	position: absolute;
	top: var(--gui-size-titlebar);
	height: var(--gui-size-tab);
	width: 100%;
	border: none;
	display: inline-block;
	overflow-y: hidden;
	overflow-x: auto;
	box-sizing: border-box;
	z-index: 3;
}

.tabs.app {
	top: var(--gui-size-titlebar);
	width: calc( 100% - ( var(--gui-home-left) + var(--gui-home-width) ) );
	left: calc( var(--gui-home-left) + var(--gui-home-width) );
	transition-duration: var(--gui-transition-time-long);
}

.tabs_border {
	background-color: var(--gui-color-background);
	position: absolute;
	display: inline;
	height: calc( var(--gui-size-tab) - 1px );
	width: 100%;
	border-bottom: 1px solid var(--gui-color-tab-border);
	z-index: -1;
	float: left;
}

.tab {
	background-color: rgba(0,0,0,0);
	border: none;
	color: var(--gui-color-button-text);
	height: 100%;
	font-family: var(--gui-button-home-font);
	font-size: var(--gui-size-tab-text);
	padding-left: var(--gui-size-tab-pad);
	padding-right: var(--gui-size-tab-pad);
	margin: none;
	border: 1px solid rgba(0,0,0,0);
	transition-duration: var(--gui-transition-time);
	z-index: 8;
}

.tab:hover {
	background-color: var(--gui-color-button-hover);
}

.tab.selected {
	background-color: var(--gui-color-background);
	border: 1px solid var(--gui-color-tab-border);
	border-bottom: 1px solid rgba(0,0,0,0);
	z-index: 9;
}

.tab.selected:hover {
	background-color: var(--gui-color-background);
}

.tab:focus {
	outline: none;
}

.option_tab {
	position: absolute;
	margin: var(--gui-size-margin);
	background-color: var(--gui-color-background);
	border: none;
	width: calc( 100% - ( var(--gui-size-margin) * 2 ) );
	color: var(--gui-color-button-text);
	top: calc( var(--gui-size-titlebar) + var(--gui-size-tab) );
	height: calc( 100% - ( var(--gui-size-titlebar) + ( var(--gui-size-tab) + ( var(--gui-size-margin) * 2 ) ) ) );
	font-family: var(--gui-button-home-font);
	font-size: var(--gui-size-tab-text);
}

.checkbox_container {
	display: block;
	position: relative;
	padding-left: calc( var(--gui-size-checkbox) + var(--gui-size-margin) );
	margin-bottom: 12px;
	cursor: pointer;
	font-size: var(--gui-size-tab-text);
	user-select: none;
}

.checkbox_container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.checkbox_checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: var(--gui-size-checkbox);
	width: var(--gui-size-checkbox);
	background-color: var(--gui-color-checkbox-unchecked);
	transition-duration: var(--gui-transition-time);
}
.checkbox_container:hover input ~ .checkbox_checkmark {
	background-color: var(--gui-color-button-hover);
	border-radius: var(--gui-size-checkbox-corner);
}

.checkbox_container input:checked ~ .checkbox_checkmark {
	background-color: var(--gui-color-checkbox);
}

.checkbox_checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

.checkbox_container input:checked ~ .checkbox_checkmark:after {
	display: block;
}

.checkbox_container .checkbox_checkmark:after {
	left: calc( var(--gui-size-checkbox) / 3.2 );
	top: calc( var(--gui-size-checkbox) / 8.3 );
	width: calc( var(--gui-size-checkbox) / 4);
	height: calc( var(--gui-size-checkbox) / 2);
	border: solid white;
	border-width: 0 calc( var(--gui-size-checkbox) / 7 ) calc( var(--gui-size-checkbox) / 7 ) 0;
	transform: rotate(45deg);
}

.select {
	display: block;
	float: left;
}

.selector {
	background-color: var(--gui-color-checkbox-unchecked);
	border: none;
	display: inline;
	flex-direction: column;
	color: var(--gui-color-button-text);
	transition-duration: var(--gui-transition-time);
	font-family: var(--gui-menu-font);
	font-size: var(--gui-size-menu-text);
	border: none;
	padding: var(--gui-size-menu-pad);
	padding-left: var(--gui-size-menu-pad-left);
	padding-right: var(--gui-size-menu-pad-left);
	white-space: nowrap;
}

.selector:hover {
	background-color: var(--gui-color-menu-hover);
}

.selector:focus {
	outline: none;
}

.option_border {
	background-color: rgba(0,0,0,0);
	position: absolute;
	left: 0px;
	top: 0px;
	width: calc( 100% - 2px );
	height: calc( 100% - 2px );
	border: 1px solid var(--gui-color-window-border);
	z-index: 15;
	pointer-events: none;
}

::-webkit-scrollbar {
	width: var(--gui-size-margin);
}

::-webkit-scrollbar-track {
	background: var(--gui-color-checkbox-unchecked);
}

::-webkit-scrollbar-thumb {
	background: var(--gui-color-button-hover);
	transition-duration: var(--gui-transition-time);
}

::-webkit-scrollbar-thumb:hover {
	background: var(--gui-color-checkbox);
	border-radius: var(--gui-size-checkbox-corner);
	cursor: pointer;
}

.hidden {
	opacity: 0;
}

.option_a {
	color: #aad;
	transition-duration: var(--gui-transition-time);
}

.option_a.green {
	color: #ada;
}

.option_a.red {
	color: #daa;
}

.option_a:hover {
	cursor: pointer;
	color: var(--gui-color-button-text);
}

.info_text {
	opacity: 0.8;
}